{{ header }}
{% if content_top %}
  <section class="home-hero">
    {{ content_top }}
  </section>
{% endif %}
<div id="common-home" class="container">
  <div class="row">{{ column_left }}
    <div id="content" class="col">{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
