{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end"></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-12 order-lg-last mb-3">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-filter"></i> {{ text_filter }}</div>
          <div class="card-body">
            <form id="form-filter">
              <div class="mb-3">
                <label for="input-title" class="form-label">{{ entry_title }}</label>
                <input type="text" name="filter_title" value="{{ filter_title }}" id="input-title" class="form-control" placeholder="{{ entry_title }}"/>
              </div>
              <div class="mb-3">
                <label for="input-issue-no" class="form-label">{{ entry_issue_no }}</label>
                <input type="number" name="filter_issue_no" value="{{ filter_issue_no }}" id="input-issue-no" class="form-control"/>
              </div>
              <div class="mb-3">
                <label for="input-status" class="form-label">{{ entry_status }}</label>
                <select name="filter_status" id="input-status" class="form-select">
                  <option value=""></option>
                  <option value="completed"{% if filter_status == 'completed' %} selected{% endif %}>{{ text_status_completed }}</option>
                  <option value="cancelled"{% if filter_status == 'cancelled' %} selected{% endif %}>{{ text_status_cancelled }}</option>
                </select>
              </div>
              <div class="text-end">
                <button type="button" id="button-filter" class="btn btn-light"><i class="fa-solid fa-filter"></i> {{ button_filter }}</button>
                <button type="reset" data-bs-toggle="tooltip" title="{{ button_reset }}" class="btn btn-outline-secondary"><i class="fa-solid fa-filter-circle-xmark"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12">
        <div class="card">
          <div class="card-header"><i class="fa-solid fa-list"></i> {{ text_list }}</div>
          <div id="history-list" class="card-body">{{ list }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript"><!--
$('#history-list').on('click', 'thead a, .pagination a', function(e) {
  e.preventDefault();
  $('#history-list').load(this.href);
});

$('#button-filter').on('click', function() {
  var url = '';
  var filter_title = $('#input-title').val();
  if (filter_title) {
    url += '&filter_title=' + encodeURIComponent(filter_title);
  }
  var filter_issue_no = $('#input-issue-no').val();
  if (filter_issue_no) {
    url += '&filter_issue_no=' + filter_issue_no;
  }
  var filter_status = $('#input-status').val();
  if (filter_status) {
    url += '&filter_status=' + filter_status;
  }

  window.history.pushState({}, null, 'index.php?route=catalog/duobao_history&user_token={{ user_token }}' + url);
  $('#history-list').load('index.php?route=catalog/duobao_history.list&user_token={{ user_token }}' + url);
});
//--></script>
{{ footer }}
