<form id="form-ticket" data-oc-toggle="ajax" data-oc-load="{{ action }}" data-oc-target="#ticket-list">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th><a href="{{ sort_ticket }}"{% if sort == 'ticket.ticket_no' %} class="{{ order|lower }}"{% endif %}>{{ column_ticket }}</a></th>
          <th><a href="{{ sort_title }}"{% if sort == 'dd.title' %} class="{{ order|lower }}"{% endif %}>{{ column_title }}</a></th>
          <th class="text-end"><a href="{{ sort_issue }}"{% if sort == 'issue.issue_no' %} class="{{ order|lower }}"{% endif %}>{{ column_issue }}</a></th>
          <th><a href="{{ sort_customer }}"{% if sort == 'customer_name' %} class="{{ order|lower }}"{% endif %}>{{ column_customer }}</a></th>
          <th class="text-center">{{ column_status }}</th>
          <th class="text-end"><a href="{{ sort_date }}"{% if sort == 'ticket.date_added' %} class="{{ order|lower }}"{% endif %}>{{ column_date_added }}</a></th>
        </tr>
      </thead>
      <tbody>
        {% if tickets %}
          {% for ticket in tickets %}
            <tr>
              <td>{{ ticket.ticket_no }}</td>
              <td>{{ ticket.title }}</td>
              <td class="text-end">#{{ ticket.issue_no }}</td>
              <td>{{ ticket.customer }}<br/><small class="text-muted">{{ ticket.email }}</small></td>
              <td class="text-center">{{ ticket.status }}</td>
              <td class="text-end">{{ ticket.joined_at }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center" colspan="6">{{ text_no_results }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="col-sm-6 text-start">{{ pagination }}</div>
    <div class="col-sm-6 text-end">{{ results }}</div>
  </div>
</form>
